/*nav bar*/

nav {
  position: absolute;
  top: 8px;
  right: 16px;

}


/*body styling*/

body {
            
  background-color: #ec0909
  }

h1 {
  font-size: xx-large;
  color: #ECF6CE;

}
.button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
   
    width: 90px;
    height: 40px;
}
.icon-btn {
  background-color: inherit;
  color: inherit;
  width: 100px;
  height: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Muli');
* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

#container {
    width: auto;
    height: auto;
    margin-top: 120px;
    -webkit-perspective: 800px;
            perspective: 800px;
    text-align: center;
}
#container h1 {
    color: #ECF6CE;
    margin-bottom: 30px;
}
#container > hr {
    border: none;
    border: 1px solid #fff;
    width: 80%;
}
.card {
    margin: 5px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 400px;
    opacity: 0.85;
}
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    border-radius: 10px;
}
.front {
    transform: rotateY(0deg);
    background: -webkit-linear-gradient(top left, rgb(135, 16, 182), #4b0df5);
    background: linear-gradient(to bottom right, rgb(135, 16, 182), #4b0df5);
    text-align: center;
    padding: 30px;
}
.back {
    background: -webkit-linear-gradient(top left, #4303b9, rgb(5, 28, 233));
    background: linear-gradient(to bottom right, #4303b9, rgb(5, 28, 233));
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 40px 15px;
    color: #fff;
}
.card:hover .front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
.card:hover .back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
//styling
.front .mood {
    height: 120px;
    width: 120px;
    border: 5px solid #B2DBBF;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}
.front .name {
    display: inline-block;
    font-size: 18px;
    color: #fff;
}

.front hr {
    border: none;
    color: #B2DBBF;
    border: 1px solid;
}
.back .icon {
    fill: currentColor;
    color: inherit;
    height: 33px;
    width: 33px;
    margin-top: 15px;
    color: white;
}
.back .icon:hover {
    cursor: pointer;
    color: #648767;
}

.clicker {
    width:100px;
    height:100px;
    background-color:blue;
    outline:none;
    cursor:pointer;
    }
    
    .hiddendiv{
    display:none;
    height:200px;
    background-color:green;
    }
    
    .clicker:focus + .hiddendiv{
    display:block;
    }